.footer{
    margin: 100px 200px 20px 200px;
}
.footer-top{
    display: flex;
    gap: 50px;
}
.footer-item{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
    font-size: 14px;
}
.footer-item h1{
    font-size: 18px;
    font-weight: 500;
    color: #555;
}
.footer-item span{
    color: grey;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.bottom-left{
    display: flex;
    align-items: center;
}
.footer-logo{
    color: blue;
    font-weight: bold;
    font-size: 24px;
}
.bottom-right img{
    height: 50px;
}
.copyright{
    margin-left: 20px;
    color: grey;
    font-size: 12px;
}