.prod-container{
    padding: 20px 50px;
    display: flex;
    gap: 40px;
}
.prod-left{
    flex: 1;
    display: flex;
    gap: 20px;
}
.prod-left .prod-images{
    flex: 1;
}
.prod-left .prod-images img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 10px;
}
.prod-left .main-image{
    flex: 5;
}
.prod-left .main-image img{
    width: 100%;
    max-height: 600px;
    object-fit: cover;
}
.prod-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.prod-price{
    font-size: 30px;
    color: #2879fe;
    font-weight: 500;
}
.prod-right p{
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
}
.prod-right hr{
    border: 1px solid rgba(128, 128, 128, 0.589);
}
.quantity{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}
.quantity button{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 25px;
    border: none;
    background: rgba(128, 128, 128, 0.473);
}
.add-cart{
    width: 250px;
    padding: 10px;
    background-color: #2879fe;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    font-weight: 500;
}
.prod-links{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    color: #2879fe;
}
.prod-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: grey;
    font-size: 14px;
    margin-top: 30px;
}
.prod-details hr{
    width: 200px;
    border: 1px solid rgba(128, 128, 128, 0.568);
}
.prod-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: grey;
    font-size: 14px;
}
